@model IEnumerable<JenkinsWebApplication.Models.Pizza1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pizza Hub</h2>

<p>
    @Html.ActionLink("Place order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Order_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Order_id })
        </td>
    </tr>
}

</table>
